body {
    
    background: rgb(34,178,195);
    background: -moz-linear-gradient(16deg, rgba(34,178,195,1) 0%, rgba(177,45,253,1) 100%);
    background: -webkit-linear-gradient(16deg, rgba(34,178,195,1) 0%, rgba(177,45,253,1) 100%);
    background: linear-gradient(16deg, rgba(34,178,195,1) 0%, rgba(177,45,253,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22b2c3",endColorstr="#b12dfd",GradientType=1);
    padding: 40px;
    font-family: Outfit;
    text-align: center;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-left: 10%;
    padding-right: 10%;
  }

html {
    height: 100%;
}

h2{
    color:antiquewhite;
    font-size: 30px;
}

h1{
    color:antiquewhite;
    font-size: 60px;
    
}

h3{
    color:antiquewhite;
    font-size: 30px;
}
  

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300&display=swap');